@import 'Layouts/user-account-pages-layout/user-account-pages-layout.scss';

@import 'Components/recovery-password-form/recovery-password-form.scss';

.recovery-password {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media (max-width: $layout-breakpoint-small) {
    padding: 16px;
  }
}
