extends Layouts/user-account-pages-layout/user-account-pages-layout.pug

block variables
  - let title = 'Recovery password';
  - let username = false;
  - let footer = false;
  - let pageClassName = 'recovery-password';

block styles
  link(href=require('./recovery-password.scss') rel='stylesheet')

block scripts
  script(src=require('./recovery-password.js') defer)

block content
  include Components/recovery-password-form/recovery-password-form.pug
