mixin advantagesNumbers(title, advantages)
  section.section.advantages-numbers
    .container
      .section__wrapper.advantages-numbers__wrapper&attributes(
        attributes)
        if title
          h3 #{title}
        .advantages-numbers__advantages.advantages-numbers__advantages_big-font-size
          each advantage in advantages
            .advantages-numbers__advantage
              span #{advantage.title}
              p #{advantage.description}
