extends Layouts/public-pages-layout/public-pages-layout.pug

block variables
  - let title = 'Entrepreneur';
  - let header = true;
  - let footer = true;
  - let pageClassName = 'entrepreneur-page';

block styles
  link(href=require('./entrepreneur.scss') rel='stylesheet')

block scripts
  script(src=require('./entrepreneur.js') defer)

block content
  include Components/brokerMain/brokerMain.pug
  +brokerMain(
      'Предпринимателям',
      'Передайте поиск финансовых решений Creditex.Broker',
      'Наша команда берет на себя процесс поиска финансовых решенией, используя широкую сеть партнеров на рынке РФ'
    )

  include Components/producr-cards/product-cards.pug
  include Components/how-it-work/how-it-work.pug
  +work-steps(
    [
      {
        title: 'Оставьте заявку',
        description: 'Укажите свои потребности',
        colorClass: 'step-box-green'
      },
      {
        title: 'Заключите договор',
        description: 'Поиск решения',
        colorClass: 'step-box-gray'
      },
      {
        title: 'Получите одобрение',
        description: 'Выбирайте подходящий продукт',
        colorClass: 'step-box-blue'
      },
      {
        title: 'Оплачивайте комиссию',
        description: 'Завершите сделку с Creditex.Broker',
        colorClass: 'step-box-green'
      }
      ],
    'Как это работает?'
  )


  include Components/common/register-oneself/register-oneself.pug
  +register-oneself(
    "Передай поиск финансовых решений",
    "Creditex.Broker и начните получать предложения",
    "Зарегистрироваться как предприниматель"
  )
