@import 'Components/form-step/form-step.scss';

.form-steps {
  display: flex;
  padding: 20px 30px;
  border-top-left-radius: $radius-bit-less;
  border-top-right-radius: $radius-bit-less;
  border-bottom: 1px solid $gray-12;
  align-items: center;
  justify-content: center;
  column-gap: 80px;
  background-color: $white-1;
  @media (max-width: $layout-breakpoint-small) {
    background-color: transparent;
    border-bottom: none;
    span {
      font-size: 16px;
      font-weight: 500;
      line-height: 19px;
      &:first-child {
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
      }
    }
  }
}
