@import 'Components/form-step/form-step.scss';

.form-steps {
  display: flex;
  padding: 20px 30px;
  border-top-left-radius: $radius-bit-less;
  border-top-right-radius: $radius-bit-less;
  border-bottom: 1px solid $gray-12;
  align-items: center;
  justify-content: center;
  column-gap: 80px;
  background-color: $white-1;
}
