@import 'UIKit/form-control-error/form-control-error.scss';

.form-radio {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4px;

  &__items {
    display: flex;
    align-items: center;
    column-gap: 40px;
    @media (max-width: $layout-breakpoint-small) {
      flex-direction: column;
      align-items: start;
      row-gap: 24px;
    }
  }

  label {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: $gray-1;
    cursor: pointer;

    &::before {
      display: block;
      width: 20px;
      height: 20px;
      border: 1px solid $gray-26;
      border-radius: 50%;
      background-color: $white-1;
      content: '';
      transition: border-color .3s ease-in-out;
    }

    &::after {
      position: absolute;
      top: 50%;
      left: 5px;
      display: none;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $black-1;
      content: '';
      transform: translateY(-50%);
    }

    @media(hover: hover) {
      &:hover {
        &::before {
          border-color: $black-1;
        }
      }
    }
  }

  input[type=radio] {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    scale: 0;

    &:checked {
      & + label::after {
        display: block;
      }

      & + label::before {
        border-color: $black-1;
      }
    }
  }

}
