section.section.will-be-available-block
  .container
    .section__wrapper.will-be-available-block__wrapper
      h3 В личном кабинете для вас будет доступно:
      .will-be-available-block__cards
        include Components/will-be-available-card/will-be-available-card.pug
        +will-be-available-card('support', 'Поддержка')(class='will-be-available-block__card')
        +will-be-available-card('hands', 'Статусы сделок')(class='will-be-available-block__card')
        +will-be-available-card('portfolio', 'Клиентский портфель')(class='will-be-available-block__card')
        +will-be-available-card('calculator', 'Система расчета')(class='will-be-available-block__card')

