.container
  .faq-container
    .faq-title Часто задаваемые вопросы (FAQ)
    .info-block
      .section-container
        .card-container
          .info-card
            .card-content
              .section-title Что такое Creditex.Broker?
              .section-description Creditex.Broker — это сервис, объединяющий предпринимателей, агентов и партнеров для упрощения процесса поиска и заключения финансовых сделок

          .info-card
            .card-content
              .section-title Как работает сервис?
              .section-description Мы связываем компании, нуждающиеся в финансировании, с проверенными брокерами и кредиторами, которые помогают подобрать лучшие финансовые решения.

          .info-card
            .card-content
              .section-title Кто может пользоваться сервисом?
              .section-description Платформой могут пользоваться предпрениматели, ищущие финансирование, агенты, привлекающие клиентов, и партнеры, предоставляющие финансовые продукты.

        .header-container
          .header-title Для предпринимателей
          .card-container
            .info-card
              .card-content
                .section-title Как предприниматели могут использовать Creditex.Broker?
                .section-description Предприниматели могут передать поиск финансовых решений на аутсорсинг и получить предложения от проверенных партнеров.

            .info-card
              .card-content
                .section-title Какие типы финансовых продуктов доступны?
                .section-description На платформе можно найти предложения по кредитам, гарантиям, лизингу и другим финансовым продуктам

        .header-container
          .header-title Для агентов
          .card-container
            .info-card
              .card-content
                .section-title Как агенты могут получать вознаграждение?
                .section-description Брокеры получают вознаграждение от платформы после успешного заключения сделки для клиента.

            .info-card
              .card-content
                .section-title Нужно ли агентам регистрироваться?
                .section-description Да, для получения доступа к заявкам и взаимодействия с клиентами брокеры должны зарегистрироваться на платформе.

        .header-container
          .header-title Для партнеров
          .card-container
            .info-card
              .card-content
                .section-title Как партнеры получают доступ к заявкам?
                .section-description Мы собираем запросы от компаний и предоставляем партнерам доступ к верифицированным лидам, подходящим для их финансовых продуктов.

            .info-card
              .card-content
                .section-title Нужно ли партнерам регистрироваться?
                .section-description Партнерам регистрация не требуется. Для обсуждения сотрудничества можно связаться с нами и скачать презентацию платформы.

        .header-container
          .header-title Юридические и технические вопросы
          .card-container
            .info-card
              .card-content
                .section-title Как регулируется деятельность платформы?
                .section-description Агентская деятельность платформы регулируется главой 52 Гражданского кодекса РФ. Подробнее можно узнать по ссылке [ГК РФ].

            .info-card
              .card-content
                .section-title Платформа является МФО или кредитором?
                .section-description Нет, Creditex.Broker — это платформа для взаимодействия компаний, брокеров и кредиторов. Мы не выдаем кредиты и не являемся МФО.

        .header-container
          .header-title Технические вопросы и поддержка
          .card-container
            .info-card
              .card-content
                .section-title Что делать, если я забыл пароль?
                .section-description Вы можете восстановить пароль, воспользовавшись функцией “Забыли пароль” на странице входа.

            .info-card
              .card-content
                .section-title Как связаться со службой поддержки?
                .section-description Наша служба поддержки доступна по электронной почте и через форму обратной связи на платформе.
