.container
  .articles-section
    h1.articles-title Статьи
    .articles-container
      .article-card-main
        .article-text
          span.article-tag Тэг статьи
          h2.article-title Название статьи
      .article-second-cards
        .article-card-second
          .article-text
            span.article-tag Тэг статьи
            h2.article-title Статья 1
        .article-card-second
          .article-text
            .article-secondary-content
              span.article-tag Тэг статьи
              h2.article-title Статья 2
        .article-card-second
          .article-text
            span.article-tag Тэг статьи
            h2.article-title Статья 3
