extends Layouts/public-pages-layout/public-pages-layout.pug

block variables
  - let title = 'Main page';
  - let header = true;
  - let footer = true;
  - let pageClassName = 'main-page';

block styles
  link(href=require('./main.scss') rel='stylesheet')

block scripts
  script(src=require('./main.js') defer)

block content
  include Components/brokerMain/brokerMain.pug
  +brokerMain(
      'Creditex.Broker',
      'Простой и надежный сервис для получения лучших финансовых предложений и расширения партнерских связей',
      'Creditex.Broker объединяет компании с финансовыми потребностями, агентов и финансовые учреждения для эффективного взаимодействия'
    )

  include Components/partner-cards/partner-cards.pug
  include Components/producr-cards/product-cards.pug
  include Components/common/register-oneself/register-oneself.pug
