mixin svgIcon(name)
  if name === 'lock'
    include Icons/lock.pug
  if name === 'like'
    include Icons/like.pug
  if name === 'zipper'
    include Icons/zipper.pug
  if name === 'page'
    include Icons/page.pug
  if name === 'speed'
    include Icons/speed.pug
  if name === 'credit-card'
    include Icons/credit-card.pug
  if name === 'growth'
    include Icons/growth.pug
  if name === 'phone'
    include Icons/phone.pug
  if name === 'connection'
    include Icons/connection.pug
  if name === 'support'
    include Icons/support.pug
  if name === 'lk-blocks'
    include Icons/lk-blocks.pug
  if name === 'ruble'
    include Icons/ruble.pug
  if name === 'hands'
    include Icons/hands.pug
  if name === 'portfolio'
    include Icons/portfolio.pug
  if name === 'calculator'
    include Icons/calculator.pug
  if name === 'user'
    include Icons/user.pug
  if name === 'phone-user-footer'
    include Icons/phone-user-footer.pug
  if name === 'email'
    include Icons/email.pug
  if name === 'search-deals'
    include Icons/search-deals.pug
  if name === 'sort-arrow'
    include Icons/sort-arrow.pug
  if name === 'pagination-select-arrow'
    include Icons/pagination-select-arrow.pug
  if name === 'pagination-next'
    include Icons/pagination-next.pug
  if name === 'empty-file-control'
    include Icons/empty-file-control.pug
  if name === 'delete'
    include Icons/delete.pug
