section.section.ways-of-working
  .container
    .section__wrapper.ways-of-working__wrapper
      .ways-of-working__header
        h4 Удобные способы работы с клиентами
        p Удобные способы работы с клиентами
      .ways-of-working__cards
        include Components/ways-of-working-card/ways-of-working-card.pug
        +ways-of-working-card('lk-blocks', 'Заявки в личном кабинете', 'Заводите заявки от новых клиентов и следите за подключением продуктов')(class='ways-of-working__card')
        +ways-of-working-card('ruble', 'Реферальная ссылка', 'Разместите ссылку на вашем сайте, а мы заплатим за каждого клиента, кто подключил по ней продукт.')(class='ways-of-working__card')

