.about-platform {
  &__wrapper {
    position: relative;
    display: flex;
    padding: 147px 141px 192px;
    flex-direction: column;
    background-color: $white-1;
    row-gap: 37px;
    @media (min-width: $layout-breakpoint-small) {
        padding: 28px 20px 315px 28px;
    }
    h2,
    p {
      max-width: 749px;

      @media (max-width: 1700px) {
        max-width: 600px;
      }
    }

    h2 {
      color: $black-3;
    }

    p {
      font-size: 30px;
      color: $gray-2;
      @media (min-width: $layout-breakpoint-small) {
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
      }
    }
  }

  &__circle {
    position: absolute;
    top: -191px;
    right: -103px;
    display: flex;
    width: 895px;
    height: 895px;
    border-radius: 100%;
    align-items: center;
    background-color: $yellow-green-1;
    @media (min-width: $layout-breakpoint-small) {
      top: 55%;
      right: 10%;
      width: 170%;
      height: 80%;
    }
  }

  &__card {
    position: absolute;


    &_left {
      top: 235px;
      left: 67px;
      @media (min-width: $layout-breakpoint-small) {
        //top: 0px;
        //left: 67px;
      }

      img {
        width: 386px;
      }
    }

    &_right {
      top: 224px;
      right: 132px;
      z-index: 1;

      img {
        width: 397px;
      }
    }
  }
}
