@import 'Layouts/user-account-pages-layout/user-account-pages-layout.scss';

@import 'Components/authorization-form/authorization-form.scss';

.authorization {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
