svg(width='64', height='41', viewBox='0 0 64 41', fill='none', xmlns='http://www.w3.org/2000/svg')
  g(clip-path='url(#clip0_838_668)')
    path(d='M32 40.2047C49.6731 40.2047 64 37.0939 64 33.2566C64 29.4193 49.6731 26.3086 32 26.3086C14.3269 26.3086 0 29.4193 0 33.2566C0 37.0939 14.3269 40.2047 32 40.2047Z', fill='#f5f5f5')
    path(d='M55 14.1653L44.854 2.74866C44.367 1.97048 43.656 1.5 42.907 1.5H21.093C20.344 1.5 19.633 1.97048 19.146 2.74767L9 14.1663V23.3367H55V14.1653Z', stroke='#d9d9d9')
    path(d='M41.613 17.3116C41.613 15.7185 42.607 14.4033 43.84 14.4023H55V32.4047C55 34.5119 53.68 36.239 52.05 36.239H11.95C10.32 36.239 9 34.511 9 32.4047V14.4023H20.16C21.393 14.4023 22.387 15.7155 22.387 17.3086V17.3304C22.387 18.9235 23.392 20.2099 24.624 20.2099H39.376C40.608 20.2099 41.613 18.9116 41.613 17.3185V17.3116Z', fill='#fafafa', stroke='#d9d9d9')
  defs
    clippath#clip0_838_668
      rect(width='64', height='40', fill='white', transform='translate(0 0.5)')
