svg(width='36', height='36', viewBox='0 0 36 36', fill='none', xmlns='http://www.w3.org/2000/svg')
  path(fill-rule='evenodd', clip-rule='evenodd', d='M11.25 1.5C10.0142 1.5 9 2.51421 9 3.75V32.25C9 33.4858 10.0142 34.5 11.25 34.5H24.75C25.9858 34.5 27 33.4858 27 32.25V3.75C27 2.51421 25.9858 1.5 24.75 1.5H11.25ZM7.5 3.75C7.5 1.68579 9.18579 0 11.25 0H24.75C26.8142 0 28.5 1.68579 28.5 3.75V32.25C28.5 34.3142 26.8142 36 24.75 36H11.25C9.18579 36 7.5 34.3142 7.5 32.25V3.75Z', fill='black')
  path(d='M18 33C18.8284 33 19.5 32.3284 19.5 31.5C19.5 30.6716 18.8284 30 18 30C17.1716 30 16.5 30.6716 16.5 31.5C16.5 32.3284 17.1716 33 18 33Z', fill='black')
  path(fill-rule='evenodd', clip-rule='evenodd', d='M7.5 27.75C7.5 27.3358 7.83579 27 8.25 27H27.75C28.1642 27 28.5 27.3358 28.5 27.75C28.5 28.1642 28.1642 28.5 27.75 28.5H8.25C7.83579 28.5 7.5 28.1642 7.5 27.75Z', fill='black')
  path(fill-rule='evenodd', clip-rule='evenodd', d='M7.5 5.25C7.5 4.83579 7.83579 4.5 8.25 4.5H27.75C28.1642 4.5 28.5 4.83579 28.5 5.25C28.5 5.66421 28.1642 6 27.75 6H8.25C7.83579 6 7.5 5.66421 7.5 5.25Z', fill='black')
