svg(width='40', height='40', viewBox='0 0 40 40', fill='none', xmlns='http://www.w3.org/2000/svg')
  g(clip-path='url(#clip0_198_654)')
    path(d='M20 10C17.0922 10 14.7266 12.3657 14.7266 15.2734C14.7266 18.1812 17.0922 20.5469 20 20.5469C22.9078 20.5469 25.2734 18.1812 25.2734 15.2734C25.2734 12.3657 22.9078 10 20 10Z', fill='#dcdbdc')
    path(d='M26.5612 23.992C25.1174 22.5261 23.2035 21.7188 21.1719 21.7188H18.8281C16.7966 21.7188 14.8826 22.5261 13.4388 23.992C12.0021 25.4507 11.2109 27.3763 11.2109 29.4141C11.2109 29.7377 11.4733 30 11.7969 30H28.2031C28.5267 30 28.7891 29.7377 28.7891 29.4141C28.7891 27.3763 27.9979 25.4507 26.5612 23.992Z', fill='#DCDBDC')
