svg(xmlns='http://www.w3.org/2000/svg', width='26', height='42', viewBox='0 0 26 42', fill='none')
  path(d='M24.6837 16.9714H15.4536L18.1902 0.428571L16.8914 0L0.333008 23.9571L0.935976 24.9857H10.0733L5.2959 41.4429L6.5946 42L25.333 18.0429L24.6837 16.9714ZM7.70778 38.2714L11.743 24.4714L11.0473 23.6143H2.23468L16.2885 3.38571L13.923 17.5714L14.6187 18.3429H23.2922L7.70778 38.2714Z', fill='black')
