@import 'Components/product-line-tab-card/product-line-tab-card.scss';

.product-line-tab-content {
  display: flex;
  flex-direction: column;
  row-gap: 74px;

  &__main-part {
    display: flex;
    max-width: 710px;
    margin-left: 77px;
    flex-direction: column;
    row-gap: 16px;

    & > p {
      font-size: 24px;
      font-weight: 300;
      color: $gray-9;
    }
  }

  &__cards {
    display: flex;
    column-gap: 16px;
  }
}
