mixin product-line-tab-content(content)
  .product-line-tab-content&attributes(attributes)
    .product-line-tab-content__main-part
      h4 #{content.heading}
      p #{content.description}
    if content.cards
      .product-line-tab-content__cards
        each card in content.cards
          include Components/product-line-tab-card/product-line-tab-card.pug
          +product-line-tab-card(card)(class='product-line-tab-content__card')
