.container
  .how-to-start
    h2.section-title Как начать работу?
    .steps-container
      .step-card.step-card--first(tabindex="0")
        img(alt='Credit card' src=require('./pen.svg'))
        .step-text Оставьте заявку на платформе
      .step-card.step-card--second(tabindex="0")
        img(alt='Credit card' src=require('./headphones.svg'))
        .step-text Мы свяжемся с вами для согласования условий и заключения договоров
      .step-card.step-card--third(tabindex="0")
        img(alt='Credit card' src=require('./shield.svg'))
        .step-text Начните безопасно и удобно проводить расчеты с вашими зарубежными партнерами
