@import 'Components/annuity-calculator/annuity-calculator';

.annuity-calculator-block {
  &__wrapper {
    padding: 150px 68px 216px;
    background-color: $white-1;
    @media (max-width: $layout-breakpoint-small) {
      padding: 16px;
    }

    & > h4 {
      margin-bottom: 24px;
      font-size: 35px;
      text-align: center;
      color: $black-1;
      @media (max-width: $layout-breakpoint-small) {
        font-size: 24px;
        font-weight: 500;
        line-height: 29px;
        text-align: left;
      }
    }

    & > span {
      display: block;
      width: fit-content;
      margin-left: auto;
      font-size: 18px;
      color: $black-1;

      @media (max-width: $layout-breakpoint-small) {
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        text-align: left;
      }
    }
  }

  &__calculator {
    margin-bottom: 14px;
  }
}
