mixin brokerMain(title, subtitle, description)
  section.section.offer
    .container
      .section__wrapper.offer__wrapper
        .offer__left-wrapper
          .offer__navigate
            include Components/common/mobile-header-navigate/mobile-header-navigate.pug
          .offer__text
            h1= title
            p= subtitle
          if description
            .offer__description
              p= description
