mixin advantages(blockHeader, leftColumn, advantages)
  section.section.advantages
    .container
      .section__wrapper.advantages__wrapper()&attributes(attributes)
        if blockHeader
          .advantages__header
            h4 #{blockHeader.title}
            p #{blockHeader.description}
        .advantages__body
          if leftColumn
            .advantages__left-column
              h4 #{leftColumn.title}
              .advantages__left-column-paragraphs
                each paragraph in leftColumn.paragraphs
                  p #{paragraph}
          .advantages__advantages-wrapper
            each advantage in advantages
              include Components/advantage/_advantage-body.pug
              +advantage({
                iconName: advantage.iconName,
                title: advantage.title,
                paragraphs: advantage.paragraphs,
                bordered: advantage.bordered
              })
