@import 'Components/common/mobile-header-navigate/mobile-header-navigate.scss';


.offer {
  margin-bottom: 0;
  @media (max-width: 1100px) {
    margin-top: 35px;
    padding: 12px 0;

  }
  @media (max-width: $layout-breakpoint-mobile) {
    background-color: $light-gray;
  }

  &__wrapper {
    display: flex;
    padding: 0px 104px 41px;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    background-color: $olive-gray;
    background-image: url('./background.jpg');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 25%;
    @media (max-width: $layout-breakpoint-tablet) {
      padding: 18px 21px 16px 26px;
      border-top-left-radius: 16px !important;
      border-top-right-radius: 16px !important;
      background-position-y: 0%;
      background-position-x: 95%;
    }
  }

  &__left-wrapper {
    display: flex;
    flex: 0 1 815px;
    flex-direction: column;
    row-gap: 23px;
    .offer__navigate {
      display: none;
    }
    @media (max-width: 1100px) {
      width: 100%;
      row-gap: 32px;
      .offer__navigate {
        display: flex;
        left: 0;
      }
    }
  }

  &__right-wrapper {
    position: relative;
    z-index: 1;
    flex: 0 1 774px;
    @media (max-width: $layout-breakpoint-small) {
      display: none;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    max-width: 656px;
    row-gap: 32px;
    @media (max-width: $layout-breakpoint-small) {
     row-gap: 16px;
    }

    h1 {
      color: $black-1;
      @media (max-width: 1100px) {
        font-size: 48px;
      }

      @media (max-width: $layout-breakpoint-tablet) {
        font-size: 30px;
      }

      @media (max-width: $layout-breakpoint-small) {
        font-size: 24px;
      }
    }

    p {
      max-width: 580px;
      font-size: 32px;
      line-height: 150%;

      color: $gray-1;
      @media (max-width: $layout-breakpoint-tablet) {
        font-size: 18px;
        font-weight: 600;
        line-height: 21.78px;
        color: #828D90;
      }
    }
  }

  &__description {
    background-color: #f3f3f3;
    padding: 32px 24px;
    border-radius: 25px;
    max-width: 646px;
    font-size: 24px;
    line-height: 130%;
    @media (max-width: $layout-breakpoint-tablet) {
      font-size: 16px;
      padding: 14px;

    }
  }

  &__controls {
    display: flex;
    max-width: 563px;
    flex-direction: row;
    justify-content: space-between;
    @media (max-width: $layout-breakpoint-small) {
     flex-direction: column;
      row-gap: 135px;
    }
  }

  &__button {
    margin-top: 1px;
    @media (max-width: $layout-breakpoint-small) {
      width: auto;
    }
  }

  &__input {
    width: 459px;
    @media (max-width: $layout-breakpoint-small) {
      width: auto;
    }
  }

  &__round {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    @include shadow($shadow-yellow-green-round);
    width: 596px;
    height: 596px;
    border-radius: 596px;
    background-color: $yellow-green-1;
    transform: translate(-50%, -50%);
  }
}
