@import 'Components/common/mobile-header-navigate/mobile-header-navigate.scss';

.offer {
  margin-bottom: 0;
  @media (max-width: $layout-breakpoint-small) {
    background-color: $light-gray;
    padding: 12px 0;
  }

  &__wrapper {
    display: flex;
    padding: 90px 90px 22px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: 60px;
    background-color: $olive-gray;
    @media (max-width: $layout-breakpoint-small) {
      padding: 18px 21px 16px 26px;
    }
  }

  &__left-wrapper {
    display: flex;
    flex: 0 1 815px;
    flex-direction: column;
    row-gap: 53px;
    .offer__navigate {
      display: none;
    }
    @media (max-width: $layout-breakpoint-small) {
      width: 100%;
      row-gap: 32px;
      .offer__navigate {
        display: flex;
      }
    }
  }

  &__right-wrapper {
    position: relative;
    z-index: 1;
    flex: 0 1 774px;
    @media (max-width: $layout-breakpoint-small) {
      display: none;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    @media (max-width: $layout-breakpoint-small) {
     row-gap: 16px;
    }

    h1 {
      color: $black-1;
      @media (max-width: $layout-breakpoint-small) {
        font-size: 32px;
        font-weight: 500;
        line-height: 39px;
      }
    }

    p {
      font-size: 20px;
      line-height: 27px;
      color: $gray-1;
      @media (max-width: $layout-breakpoint-small) {
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
      }
    }
  }

  &__controls {
    display: flex;
    max-width: 563px;
    flex-direction: row;
    justify-content: space-between;
    @media (max-width: $layout-breakpoint-small) {
     flex-direction: column;
      row-gap: 135px;
    }
  }

  &__button {
    margin-top: 1px;
    @media (max-width: $layout-breakpoint-small) {
      width: auto;
    }
  }

  &__input {
    width: 459px;
    @media (max-width: $layout-breakpoint-small) {
      width: auto;
    }
  }

  &__round {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    @include shadow($shadow-yellow-green-round);
    width: 596px;
    height: 596px;
    border-radius: 596px;
    background-color: $yellow-green-1;
    transform: translate(-50%, -50%);
  }
}
