section.product-line
  .container
    .section__wrapper.product-line__wrapper
      h4  Линейка продуктов

      include Components/block-with-tabs/block-with-tabs.pug
      +block-with-tabs([
        {
          tabName: 'Пополнение оборотного капитала',
          tabContent: {
            heading: 'Гибкие средства для управления текущими потребностями вашего бизнеса',
            description: 'Откройте комфортную кредитную линию, и выберите формат, который идеально подходит для вашего бизнеса. Мы предлагаем три варианта:',
            cards: [
              {
                cardTitle: 'Возобновляемая кредитная линия',
                cardDescription: 'Гибкая и удобная опция для постоянных финансовых потребностей вашей компании. Погашайте и снова используйте средства по мере необходимости.',
              },
              {
                cardTitle: 'Невозобновляемая кредитная линия',
                cardDescription: 'Оптимальный вариант, если вам нужен крупный кредит с фиксированными платежами. Используйте средства однократно для ваших стратегических потребностей.',
              },
              {
                cardTitle: 'Единоразовая кредитная линия',
                cardDescription: 'Идеальное решение для краткосрочных финансовых задач. Получите доступ к средствам быстро и верните их по завершении проекта.',
              },
            ]
          }
        },
        {
          tabName: 'Инвестиционный кредит',
          tabContent: {
            heading: 'Таб 2',
            description: 'Какой-то короткий текст',
            cards: [
              {
                cardTitle: 'Возобновляемая кредитная линия',
                cardDescription: 'Гибкая и удобная опция для постоянных финансовых потребностей вашей компании. Погашайте и снова используйте средства по мере необходимости.',
              },
              {
                cardTitle: 'Единоразовая кредитная линия',
                cardDescription: 'Идеальное решение для краткосрочных финансовых задач. Получите доступ к средствам быстро и верните их по завершении проекта.',
              },
            ]
          }
        },
        {
          tabName: 'Кредит под контракты',
          tabContent: {
            heading: 'Таб 3',
            description: 'Откройте комфортную кредитную линию, и выберите формат, который идеально подходит для вашего бизнеса. Мы предлагаем три варианта:',
            cards: [
              {
                cardTitle: 'Возобновляемая кредитная линия',
                cardDescription: 'Гибкая и удобная опция для постоянных финансовых потребностей вашей компании. Погашайте и снова используйте средства по мере необходимости.',
              },
              {
                cardTitle: 'Невозобновляемая кредитная линия',
                cardDescription: 'Оптимальный вариант, если вам нужен крупный кредит с фиксированными платежами. Используйте средства однократно для ваших стратегических потребностей.',
              },
              {
                cardTitle: 'Единоразовая кредитная линия',
                cardDescription: 'Идеальное решение для краткосрочных финансовых задач. Получите доступ к средствам быстро и верните их по завершении проекта.',
              },
            ]
          }
        },
        {
          tabName: 'Лизинг',
          tabContent: {
            heading: 'Таб 4',
            description: 'Откройте комфортную кредитную линию, и выберите формат, который идеально подходит для вашего бизнеса. Мы предлагаем три варианта: Откройте комфортную кредитную линию, и выберите формат, который идеально подходит для вашего бизнеса. Мы предлагаем три варианта:',
            cards: [
              {
                cardTitle: 'Возобновляемая кредитная линия',
                cardDescription: 'Гибкая и удобная опция для постоянных финансовых потребностей вашей компании. Погашайте и снова используйте средства по мере необходимости.',
              },
            ]
          }
        },
        {
          tabName: 'Ипотека',
          tabContent: {
            heading: 'Таб 5',
            description: 'Откройте комфортную кредитную линию, и выберите формат, который идеально подходит для вашего бизнеса. Мы предлагаем три варианта:',
            cards: [
              {
                cardTitle: 'Возобновляемая кредитная линия',
                cardDescription: 'Гибкая и удобная опция для постоянных финансовых потребностей вашей компании. Погашайте и снова используйте средства по мере необходимости.',
              },
              {
                cardTitle: 'Невозобновляемая кредитная линия',
                cardDescription: 'Оптимальный вариант, если вам нужен крупный кредит с фиксированными платежами. Используйте средства однократно для ваших стратегических потребностей.',
              },
              {
                cardTitle: 'Единоразовая кредитная линия',
                cardDescription: 'Идеальное решение для краткосрочных финансовых задач. Получите доступ к средствам быстро и верните их по завершении проекта.',
              },
            ]
          }
        },
      ])(class='product-line__block-with-tabs')
