.product-line-tab-card {
  display: flex;
  min-height: 192px;
  padding: 24px 32px;
  border-radius: $radius-bit-less;
  flex: 0 1 100%;
  flex-direction: column;
  background-color: $tab-card-bg-color;
  row-gap: 24px;

  & > h5 {
    color: $white-1;
  }

  & > p {
    color: $white-2;
  }
}
