.product-line-tab-card {
  display: flex;
  min-height: 192px;
  padding: 24px 32px;
  border-radius: $radius-bit-less;
  flex: 0 1 100%;
  flex-direction: column;
  background-color: $tab-card-bg-color;
  row-gap: 24px;
  @media (max-width: $layout-breakpoint-small) {
    row-gap: 12px;
    min-height: auto;
    h5 {
      font-size: 16px;
      font-weight: 500;
      line-height: 19px;
    }
    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
    }
  }

  & > h5 {
    color: $white-1;
  }

  & > p {
    color: $white-2;
  }
}
