section.section.business-requirements
  .container
    .section__wrapper.business-requirements__wrapper
      .business-requirements__text
        h2 Требования к бизнесу
        p Получите кредит для своего бизнеса с легкостью! Главное требование - ваш бизнес должен быть зарегистрирован не менее 6 месяцев. Мы делаем поиск финансовых продуктов простым и доступным для опытных предпринимателей.
      .business-requirements__requirement
        .business-requirements__requirement-icon
          include Components/svg-icon/svg-icon.pug
          +svgIcon('growth')
        p.business-requirements__requirement-text Срок регистрации бизнеса от 6 мес
      .business-requirements__circle

