.business-requirements {
  &__wrapper {
    position: relative;
    display: flex;
    padding: 134px 119px 145px;
    column-gap: 104px;
    background-color: $white-1;
    @media (max-width: $layout-breakpoint-small) {
      padding: 24px 24px;
      flex-direction: column;
      row-gap: 24px;
    }
  }

  p {
    font-size: 24px;
    font-weight: 500;
    @media (max-width: $layout-breakpoint-small) {
      font-size: 18px;
      font-weight: 600;
      line-height: 22px;
    }
  }

  &__text {
    z-index: 10;
    display: flex;
    max-width: 749px;
    flex-direction: column;
    row-gap: 45px;
    @media (max-width: $layout-breakpoint-small) {
      row-gap: 16px;
      width: auto;
    }

    & > h2 {
      color: $black-3;
      @media (max-width: $layout-breakpoint-small) {
        font-size: 24px;
        font-weight: 500;
        line-height: 29px;

      }
    }

    & > p {
      color: $gray-2;
      @media (max-width: $layout-breakpoint-small) {
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;

      }
    }
  }

  &__requirement {
    z-index: 10;
    display: flex;
    padding: 24px 40px;
    border: 1px solid $gray-4;
    border-radius: $radius-bit-less;
    flex: 0 0 376px;
    flex-direction: column;
    row-gap: 16px;

    @media (max-width: $layout-breakpoint-small) {
      flex: auto;
      padding: 16px 24px;
    }

    & > p {
      color: $black-1;
    }
  }

  &__requirement-icon {
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: $yellow-green-2;

    svg {
      width: 32px;
      height: 32px;
    }
  }

  &__circle {
    position: absolute;
    top: 35px;
    right: -338px;
    width: 666px;
    height: 666px;
    border-radius: 50%;
    background-color: $yellow-green-1;
    @media (max-width: $layout-breakpoint-small) {
      display: none;
    }
  }
}
