@import 'UIKit/button/button.scss';
@import 'Components/deals-search/deals-search.scss';
@import 'UIKit/deal-status/deal-status.scss';
@import 'Components/deals-pagination/deals-pagination.scss';

.deals {

  @mixin basis-calc($column-width) {
    $div-width: 1812px;
    $percent: 100%;
    flex-basis: calc(($column-width / $div-width) * $percent);
  }

  div.deals__header {
    display: flex;
    border: none;
    align-items: center;
    justify-content: space-between;
    @media (max-width: $layout-breakpoint-small) {
      flex-direction: column;
      row-gap: 24px;
      padding: 20px 30px;
      align-items: start;
    }
  }

  &__header-left-side {
    display: flex;
    align-items: center;
    column-gap: 24px;
    @media (max-width: $layout-breakpoint-small) {
      flex-direction: column;
      align-items: start;
      row-gap: 24px;
      h5 {
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
      }
    }
  }

  &__filter {
    display: flex;
    column-gap: 24px;
    @media (max-width: $layout-breakpoint-small) {
      flex-direction: column;
      row-gap: 16px;
      font-size: 15px;
      font-weight: 300;
      line-height: 18px;
    }
  }

  @media (max-width: $layout-breakpoint-small) {
    &__table {
      overflow-x: auto;
    }
  }

  &__table-row {
    display: flex;
    padding: 20px 30px;
    border-bottom: 1px solid $gray-20;
    align-items: center;
    justify-content: space-between;
    column-gap: 16px;

    &_main {
      border: none;
      background-color: $gray-20;
    }
  }

  &__table-col {
    flex-grow: 0;
    flex-shrink: 0;

    @media (max-width: $layout-breakpoint-small) {
      min-width: 146px;
    }

    &_number {
      @include basis-calc(146px);
    }

    &_client {
      @include basis-calc(221px);
    }

    &_inn {
      @include basis-calc(274px);
    }

    &_date {
      @include basis-calc(278px);
    }

    &_exemption {
      @include basis-calc(267px);
    }

    &_format {
      @include basis-calc(324px);
    }

    &_status {
      @include basis-calc(150px);
    }
  }
}
