section.empty-lk-block
  .empty-lk-block__header
    h4 Актуальных заявок не найдено
    p Вы можете завести заявку по кнопке ниже
  include UIKit/button/button.pug
  +button('add-bid-button', './add-bid-step-1.html', '', 'primary', 'Завести заявку')(class='button_wide')
