@import 'UIKit/form-range/form-range';
@import 'UIKit/legend-item/legend-item.scss';

.calculator {
  &__wrapper {
    display: flex;
    column-gap: 70px;
  }

  &__controls {
    display: flex;
    flex: 0 0 651px;
    flex-direction: column;
    row-gap: 24px;
  }

  &__graph-wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    row-gap: 27px;
  }

  &__legend {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
  }

  &__graph {
    display: flex;
    height: 525px;
    column-gap: 2px;
  }

  &__payment-column {
    flex: 1 1 25px;
  }

  &__main-debt {
    background-color: $black-4;
  }

  &__percent-column {
    background-color: $gray-5;
  }

  &__payment-label {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }
}

.calculator__wrapper {
  @media (max-width: $layout-breakpoint-small) {
    width: 100%;
    flex-direction: column;
    row-gap: 40px;
    .calculator__controls {
      flex: auto;
    }
    .calculator__graph {
      height: 150px;
    }
  }
}
