.annuity-calculator-block__calculator.calculator
  .calculator__wrapper
    .calculator__controls
      include UIKit/form-range/form-range.pug
      +form-range('calculator-amount', 'Желаемая сумма найма', 500000, 27000000, {
        one: 'рубль',
        two: 'рубля',
        five: 'рублей'
      }, 3000000, false, false)
      +form-range('calculator-term', 'Срок ', 1, 10, {
        one: 'год',
        two: 'года',
        five: 'лет'
      }, 3, false, true)
      label.calculator__payment-label Сумма ежемесячного платежа
        include UIKit/form-control/form-control.pug
        +form-control('text', 'form-control-calculator-payment', '')(readonly=true)
    .calculator__graph-wrapper
      .calculator__legend
        include UIKit/legend-item/legend-item.pug
        +legend-item('Основной долг', '12141d')
        +legend-item('Проценты', 'e5e5e5')
      .calculator__graph(id='calculator-graph')
