.register-oneself {
  &__wrapper {
    display: flex;
    padding-top: 31px;
    padding-bottom: 31px;
    align-items: center;
    justify-content: center;
    background-color: $olive-gray;
  }

  &__button {
    min-width: 403px;
    text-align: center;
    @media (max-width: $layout-breakpoint-small) {
      min-width: auto;
    }
  }
}
