section.section.register-oneself
  .container
    .section__wrapper.register-oneself__wrapper
      include UIKit/button/button.pug
      +button('register-oneself-button', './registration.html', 'link', 'primary', 'Зарегистрироваться')(class='register-oneself__button')
