extends Layouts/user-account-pages-layout/user-account-pages-layout.pug

block variables
  - let title = 'Restore password - phone number request';
  - let username = false;
  - let footer = false;
  - let pageClassName = 'restore-password-request';

block styles
  link(href=require('./restore-password-request.scss') rel='stylesheet')

block scripts
  script(src=require('./restore-password-request.js') defer)

block content
  include Components/restore-password-request-form/restore-password-request-form.pug
