@import 'Layouts/user-account-pages-layout/user-account-pages-layout.scss';

@import 'Components/restore-password-request-form/restore-password-request-form.scss';

.restore-password-request {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media (max-width: $layout-breakpoint-small) {
    padding: 16px;
  }
}
