@import 'UIKit/button/button.scss';

.header {
  @media (max-width: $layout-breakpoint-tablet) {
    display: none;
  }
  @mixin header-active-link($after-bg-color) {
    position: relative;
    padding: 0 0 3px;

    &::after {
      position: absolute;
      bottom: -2px;
      left: 0;
      display: block;
      width: 100%;
      height: 2px;
      content: '';
      background-color: $black-1;
    }


  }

  &__logo {
    min-width: 200px;
    max-height: 45px;
    @media (max-width: $layout-breakpoint-large) {
      display: none;
    }

    & svg {
      height: 45px;
    }
  }

  &__logo-small {
    @media (min-width: $layout-breakpoint-large) {
      display: none;
    }
    min-width: 24px;
  }

  background-color: $light-gray;

  &__contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .header__phone {
      color: $black-7;
      font-weight: 500;
      text-decoration: none;
      font-size: 14px;

      &:hover {
        text-decoration: underline;
      }
    }

    .header__email {
      color: #007AFF;
      text-decoration: none;
      font-size: 16px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__row {
    display: flex;
    padding: 24px 64px;
    border-radius: 25px 25px 0 0;
    align-items: center;
    gap: 20px;
    background-color: $olive-gray;
    margin-top: 24px;
  }

  &__main-menu {
    width: 100%;
  }
  &__main-menu-list {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 8px;
  }



  .header__main-menu-item-link {
    font-size: 14px;
    color: #292929;
    @media (hover: hover) {
      &:hover {
        @include header-active-link($gray-6);
      }
    }

    &_this-page {
      @include header-active-link($black-1);

      @media (hover: hover) {
        &:hover {
          @include header-active-link($black-1)
        }
      }
    }
  }

  &__lk-buttons {
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: 16px;
  }

  &__lets-start-button {
    background-color: $white-1;
  }
  &__lk-entry-button {
    background-color: $black-1;
    &::after {
      display: none;
    }
  }
}
