.user-account-footer {
  background-color: $black-5;
  color: $white-1;

  &__wrapper {
    display: flex;
    padding-top: 29px;
    padding-bottom: 29px;
    align-items: center;
    justify-content: flex-end;
    column-gap: 24px;

    span {
      font-size: 14px;
    }
    @media (max-width: $layout-breakpoint-small) {
      padding-top: 14px;
      padding-bottom: 14px;
      justify-content: center;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    column-gap: 6px;
    @media (max-width: $layout-breakpoint-small) {
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
    }
  }

  &__icon {
    display: flex;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    @media (max-width: $layout-breakpoint-small) {
      width: 16px;
    }
  }
}
