extends Layouts/user-account-pages-layout/user-account-pages-layout.pug

block variables
  - let title = 'New password';
  - let username = 'ИП Шпутненко Кирилл Сергеевич';
  - let footer = true;
  - let pageClassName = 'new-password';

block styles
  link(href=require('./new-password.scss') rel='stylesheet')

block scripts
  script(src=require('./new-password.js') defer)

block content
  .container_user-account
    include Components/new-password-block/new-password-block.pug
