extends Layouts/public-pages-layout/public-pages-layout.pug

block variables
  - let title = 'Partners';
  - let header = true;
  - let footer = true;
  - let pageClassName = 'partners-page';

block styles
  link(href=require('./partners.scss') rel='stylesheet')

block scripts
  script(src=require('./partners.js') defer)

block content
  include Components/brokerMain/brokerMain.pug
  +brokerMain(
        'Партнерам',
        'Расширить клиентскую базу с Creditex.Broker',
        'Наш сервис - это надежный мост между вашими услугами и компаниями, которые в них нуждаются. Мы автоматизируем проверку и подбор заявок, предоставляя вам возможность быстрее находить клиентов и повышать продуктивность вашего бизнеса'
      )

  include Components/how-it-work/how-it-work.pug
  +work-steps(
    [
      {
        title: 'Постоянный поток клиентов',
        description: 'Получайте качественные заявки от компаний, заинтересованных в финансовых продуктах и услугах',
        colorClass: 'step-box-green'
      },
      {
        title: 'Эффективная проверка и верификация',
        description: 'Мы тщательно анализируем потребности клиентов и проверяем их соответствие вашим требованиям',
        colorClass: 'step-box-gray'
      },
      {
        title: 'Индивидуальный подход',
        description: 'Подбираем и предоставляем клиентам уникальные условия, соответствующие их запросам',
        colorClass: 'step-box-blue'
      },
      {
        title: 'Автоматизированный подбор продуктов',
        description: 'Удобный алгоритм помогает найти и предложить клиентам именно те продукты и решения, которые им необходимы',
        colorClass: 'step-box-green'
      },
      {
        title: 'Оптимизация и рост вашего бизнеса',
        description: 'Повышайте уровень конверсии, экономьте время на обработку заявок и масштабируйте свою клиентскую базу',
        colorClass: 'step-box-gray'
      },
    ],
      'Преимущества сотрудничества с Creditex.Broker'
    )
  include Components/common/register-oneself/register-oneself.pug
  +register-oneself(
    "Передай поиск финансовых решений",
    "Creditex.Broker и начните получать предложения",
    "Скачайте презентацию о сервисе Creditex.Broker"
  )


