extends Layouts/public-pages-layout/public-pages-layout.pug

block variables
  - let title = 'Partners';
  - let header = true;
  - let footer = true;
  - let pageClassName = 'partners-page';

block styles
  link(href=require('./partners.scss') rel='stylesheet')

block scripts
  script(src=require('./partners.js') defer)

block content
  include Components/offer/offer.pug
  include Components/card-issued-block/card-issued-block.pug

  include Components/advantages/advantages.pug
  +advantages({
    title: 'Все онлайн и прозрачно',
    description: 'В реальном времени видите подключенные клиентом продукты',
  }, '', [
    {
      iconName: 'phone',
      title: 'Договор онлайн',
      paragraphs: ['Присоединитесь к договору-оферте онлайн'],
      bordered: true,
    },
    {
      iconName: 'connection',
      title: 'Подключение за день',
      paragraphs: ['Подайте заявку утром, и уже вечером можно начать работу'],
      bordered: true,
    },
    {
      iconName: 'support',
      title: 'Персональный менеджер',
      paragraphs: ['Помогает настроить работу, обучить сотрудников, разобраться с заявками'],
      bordered: true,
    },
  ])(class='advantages__wrapper_paddings-74-145')

  include Components/how-it-work/how-it-work.pug
  +howItWork('big')

  include Components/advantages-numbers/advantages-numbers.pug
  +advantagesNumbers('Показатели платформы', [
    {
      title: '800 сделок',
      description: 'Более 800 успешных сделок',
    },
    {
      title: '3 млрд',
      description: 'Выдано более 3 млрд рублей',
    },
    {
      title: '74',
      description: 'Кредитных организаций',
    },
  ])(class='advantages-numbers__wrapper_biggest-paddings')

  include Components/partners-advantage/partners-advantage.pug
  +partners-advantage(false, 'cup', 'gray', {
    title: 'Постоянно растущий уровень вознаграждения',
    paragraphs: ['Чем больше заемщиков получат одобрение, тем выше будет уровень вознаграждения.']
  })
  +partners-advantage(true, 'coins', 'white', {
    title: 'Автоматический вывод вознаграждения на счет',
    paragraphs: ['Выплата вознаграждения производится ежемесячно по 15-м числам.']
  })

  +partners-advantage(false, 'target', 'gray', {
    title: 'Продукт удобный вам и клиентам',
    paragraphs: ['Возобновляемая линия займов позволяет клиентам получать любое количество траншей в пределах лимита в любое время, а вам - автоматически получать вознаграждение за каждый транш в течение всего срока ее действия.']
  })

  include Components/steps/steps.pug
  +steps('Начните зарабатывать прямо сейчас с Creditex', [
    'Пройдите регистрацию',
    'Менеджер свяжется с вами',
    'Получите доступ в личный кабинет и начните работу',
  ])

  include Components/partner-calculator/partner-calculator.pug

  include Components/ways-of-working/ways-of-working.pug

  include Components/will-be-available-block/will-be-available-block.pug
