.container
  .user-types
    .card.entrepreneur-card
      .card-content
        .card-header
          h2.card-title Предприниматели
          p.card-subtitle ИП, ООО,АО, ЗАО, КФХ
        .card-body
          p.card-description Подберите надежные финансовые решения для вашего бизнеса
          .action-button(tabindex="0" role="button")
            span.button-text Для предпринимателей
            img.button-logo(src=require('Images/arrow.svg'))

    .card.agent-card
      .card-content
        .card-header
          h2.card-title Агенты
          p.card-subtitle Брокеры, фин консультанты, бухгалтеры и т.д.
        .card-body
          p.card-description Привлекайте клиентов, предлагайте заявки ваших клиентов и получайте комиссию за успешные сделки
          .action-button(tabindex="0" role="button")
            span.button-text Для брокеров
            img.button-logo(src=require('Images/arrow.svg'))
    .card.partner-card
      .card-content
        .card-header
          h2.card-title Партнеры
          p.card-subtitle Банки, частные инвесторы, лизинговые и факторинговые компании, платежные агенты
        .card-body
          p.card-description Получите доступ к качественным лидам и увеличьте свою клиентскую базу
          .action-button(tabindex="0" role="button")
            span.button-text Для партнеров
            img.button-logo(src=require('Images/arrow.svg'))
