.steps {
  &__wrapper {
    display: flex;
    padding: 145px 41px 225px;
    flex-direction: column;
    align-items: center;
    background-color: $black-4;
    color: $white-1;
    row-gap: 24px;
    @media (max-width: $layout-breakpoint-small) {
      padding: 40px 16px 80px;
      flex-direction: column;
      row-gap: 50px;
      h4 {
        font-size: 24px;
        font-weight: 500;
        line-height: 29px;
        text-align: center;

      }
    }
    }

  &__inner {
    $paddings: 240px;
    position: relative;
    z-index: 10;
    display: flex;
    width: 100%;
    padding: 0 $paddings;
    align-items: center;
    justify-content: space-between;
    @media (max-width: $layout-breakpoint-small) {
      flex-direction: column;
      row-gap: 64px;
    }

    &::after {
      position: absolute;
      top: 50%;
      right: 0 + $paddings;
      left: 0 + $paddings;
      z-index: -1;
      display: block;
      height: 2px;
      background-color: $yellow-green-2;
      content: '';
      transform: translateY(-50%);
    }
  }

  &__item {
    position: relative;
  }

  &__step-round {
    display: flex;
    width: 84px;
    height: 84px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 500;
    background-color: $yellow-green-2;
    color: $black-1;
    @media (max-width: $layout-breakpoint-small) {
      width: 40px;
      height: 40px;
    }
  }

  &__text {
    position: absolute;
    top: 108px;
    left: 50%;
    width: 320px;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    transform: translateX(-50%);
    @media (max-width: $layout-breakpoint-small) {
      font-size: 16px;
      font-weight: 500;
      line-height: 19px;
      max-width: 230px;
      top: 54px;
    }
  }
}
