form.registration-form.full-screen-form(id='registration-form', name='registration-form', data-location-href='./confirmation.html', method='POST', action='/auth/?register=yes')

  .registration-form__inner.full-screen-form__inner
    h4 Регистрация
    .registration-form__controls.full-screen-form__controls
      include UIKit/form-select/form-select.pug
      +form-select('registration-user-type', [{
        text: 'Брокер',
        value: 'broker'
      }, {
        text: 'Заёмщик',
        value: 'borrower'
      }], 'Выберите тип пользователя')(class='registration-form__user-type-control')
      include UIKit/form-control/form-control.pug
      +form-control('text', 'registration-name', 'Имя')(class='registration-form__name-control', autocomplete='name')
      +form-control('text', 'registration-last-name', 'Фамилия')(class='registration-form__lastname-control', autocomplete='lastname')
      +form-control('text', 'registration-second-name', 'Отчество')(class='registration-form__secondname-control', autocomplete='second-name')
      +form-control('text', 'registration-inn', 'ИНН')(class='registration-form__inn-control')
      +form-control('tel', 'registration-phone', 'Телефон')(class='registration-form__phone-control', autocomplete='username')
      +form-control('text', '', 'E-mail')(class='registration-form__email-control', autocomplete='email')
      include UIKit/form-password/form-password.pug
      +form-control('password', 'registration-password', 'Пароль')(class='registration-form__password-control', autocomplete='current-password')
      +form-control('password', 'registration-repeat-password', 'Повторите пароль')(class='registration-form__password-control', autocomplete='current-password')
      include UIKit/form-checkbox/form-checkbox.pug
      .registration-form__checkbox-wrapper
        +form-checkbox('terms_agreement', 'Я ознакомлен(а) с <a href="/terms" target="_blank" class="checkbox-link">Пользовательским соглашением</a> и принимаю его условия.')(class='authorization-form__remember-user-checkbox', checked=false)
        +form-checkbox('privacy_policy_consent', 'Я согласен(а) с <a href="/privacy-policy" target="_blank" class="checkbox-link">Политикой конфиденциальности</a> и даю <a href="/data-processing-consent" target="_blank" class="checkbox-link">согласие на обработку моих персональных данных</a>.')(class='authorization-form__remember-user-checkbox', checked=false)
        +form-checkbox('marketing_emails_consent', 'Я хочу получать <a href="/marketing-offers" target="_blank" class="checkbox-link">рекламные рассылки и специальные предложения</a>.')(class='authorization-form__remember-user-checkbox', checked=false)
      .registration-form__buttons.full-screen-form__buttons
        include UIKit/button/button.pug
        +button('registration-to-auth-button', './authorization.html', 'button', 'secondary', 'Авторизация')(class='registration-form__to-auth-button')
        +button('registration-come-in-button', '', 'submit', 'primary', 'Войти')(class='registration-form__come-in-button')
