mixin will-be-available-card(iconName, cardTitle)
  .will-be-available-card&attributes(attributes)
    .will-be-available-card__icon
      include Components/svg-icon/svg-icon.pug
      +svgIcon(iconName)
    span #{cardTitle}
