.container
  .payment-processing
    h2.title Как это работает?
    h3.subtitle Проведение платежей (импорт)
    h4.description Основной договор с возможностью оплаты Третьим лицам
    img.img-desktop(alt='Credit card' src=require('./import.svg'))
    img.img-mobile(alt='Credit card' src=require('./importMobile.svg'))
    h3.subtitle Проведение платежей (экспорт)
    h4.description Основной договор с возможностью оплаты Третьим лицам
    img.img-desktop(alt='Credit card' src=require('./export.svg'))
    img.img-mobile-second(alt='Credit card' src=require('./exportMobile.svg'))

