.container {

  @media (max-width: $layout-breakpoint-small) {
    padding: 0 12px;
    margin: 0;
  }
  .partners-advantage {
    &__wrapper {
      display: flex;
      max-height: 596px;
      padding: 134px 119px;
      justify-content: space-between;

      @media (max-width: $layout-breakpoint-small) {
        padding: 24px 16px 0px 16px;
        flex-direction: column;
        overflow: hidden;
        position: relative;
      }

      &_white {
        background-color: $white-1;
      }

      &_gray {
        background-color: $gray-4;
      }
    }

    &__image {
      display: flex;
      flex: 0 0 444px;
      align-items: center;
      justify-content: center;

      img {
        width: auto;
        height: 429px;
        object-fit: cover;
        @media (max-width: $layout-breakpoint-small) {
          height: 318px;
          position: absolute;
          left: 30%;
          flex: auto;
        }
      }
    }

    &__text-content {
      display: flex;
      flex: 0 0 713px;
      flex-direction: column;
      row-gap: 24px;
      @media (max-width: $layout-breakpoint-small) {
        flex: auto;
      }

      & > h3 {
        color: $black-3;
        @media (max-width: $layout-breakpoint-small) {
          font-size: 24px;
          font-weight: 500;
          line-height: 29px;
        }
      }

      & > p {
        font-size: 30px;
        color: $gray-2;
        @media (max-width: $layout-breakpoint-small) {
          font-size: 18px;
          font-weight: 400;
          line-height: 22px;
        }
      }
    }
  }
}
