section.partner-calculator
  .container
    .section__wrapper.partner-calculator__wrapper
      h4 Калькулятор партнера
      .partner-calculator__inner
        .partner-calculator__data
          include UIKit/form-range/form-range.pug
          +form-range('partner-calc-number-of-borrowers', 'Количество целевых заемщиков', 1, 100, '', 5)
          +form-range('partner-calc-average-loan-amount', 'Средняя сумма займа', 500000, 10000000, {
            one: '₽',
            two: '₽',
            five: '₽'
          }, 2000000)
          form.partner-calculator__action(name='partner-calc-form', method='GET', action='./')
            include UIKit/form-control/form-control.pug
            +form-control('tel', 'partner-calc-phone', 'Телефон')(class='partner-calculator__action-input')
            include UIKit/button/button.pug
            +button('partner-calc-button', '', 'submit', 'primary', 'Начать')(class='partner-calculator__action-button', data-reg-page-path='./registration.html')
        .partner-calculator__result
          span Ожидаемый доход
          span(id='partner-calc-result')
