.product-line {
  display: flex;
  flex-direction: column;
  margin-top: 95px;

  @media (max-width: $layout-breakpoint-mobile) {
    margin-top: 40px;
  }

  .section-title {
    font-weight: 600;
    text-align: center;

    @media (max-width: $layout-breakpoint-mobile) {
      font-size: 24px;
      font-weight: 500;
    }
  }

  .products-grid {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 24px;

    .products-row {
      display: flex;
      width: 100%;
      gap: 24px;
      flex-wrap: wrap;
      margin-top: 32px;

      &:last-child {
        margin-top: 0;
      }
      @media (max-width: $layout-breakpoint-mobile) {
        margin-top: 0;
      }

      .product-card {
        border-radius: 25px;
        background-color: #fcfcfc;
        box-shadow: 0 0 10px rgba(185, 192, 250, 0.3);
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;
        flex-basis: 0%;
        padding: 32px 40px;

        @media (max-width: $layout-breakpoint-desktop) {
          padding: 20px 20px;
        }

        @media (max-width: $layout-breakpoint-mobile) {
          min-width: 100%;
        }

        .product-header {
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: space-between;
          gap: 16px;
          flex-wrap: wrap;

          .product-title {
            color: $black-1;
            font-size: 37px;
            font-weight: 500;

            @media (max-width: $layout-breakpoint-desktop) {
              line-height: 100%;
              font-size: 27px;
            }

            @media (max-width: $layout-breakpoint-tablet) {
              line-height: 100%;
              font-size: 24.2px;
            }
          }

          .highlight-badge {
            border-radius: 8px;
            background-color: #e3f3b9;
            font-size: 16px;
            color: $black-1;
            font-weight: 400;
            text-align: center;
            padding: 8px;
            @media (max-width: $layout-breakpoint-desktop) {
              padding: 4px;
              font-size: 12px;
            }
          }
        }

        .product-content {
          display: flex;
          margin-top: 24px;
          flex-direction: column;
          font-size: 16px;
          justify-content: space-between;
          flex: 1;

          .conditions-list {
            display: flex;
            width: 100%;
            flex-direction: column;
            font-weight: 400;

            .conditions-title {
              color: #484848;
              font-size: 16px;
              font-weight: 400;

            }

            .conditions-text {
              color: #484848;
              line-height: 24px;
              margin-top: 16px;

              @media (max-width: $layout-breakpoint-desktop) {
                font-size: 14px;

              }
            }
          }

          .button_link {
            display: block;
            text-align: center;
            margin-top: 16px;
            @media (max-width: $layout-breakpoint-tablet) {
              margin: 8px auto 0;
            }
          }
          .action-button {
            border-radius: 10px;
            display: flex;
            width: 100%;
            gap: 6px;
            color: $black-1;
            font-weight: 500;
            text-align: center;
            cursor: pointer;
            margin-top: 16px;

            @media (max-width: $layout-breakpoint-tablet) {
              justify-content: center;

            }
          }
        }
      }
    }
  }
}
