form.restore-password-request-form.full-screen-form(id='restore-password-request-form', name='restore-password-request-form', method='POST', action='/auth/?forgot_password=yes')
  .restore-password-request-form__title.full-screen-form__title
    h4 Восстановление пароля
    p Введите номер телефона который использовался при регистрации

  .restore-password-request-form__inner.full-screen-form__inner
    .restore-password-request-form__controls.full-screen-form__controls
      include UIKit/form-control/form-control.pug
      +form-control('tel', 'restore-password-phone-number', 'Телефон')(class='restore-password-request-form__phone-number-control')
    .restore-password-request-form__buttons.full-screen-form__buttons
      include UIKit/button/button.pug
      +button('restore-password-request-step-back-button', 'javascript:history.back()', 'button', 'transparent', 'Назад')(class='restore-password-request-form__step-back-button')
      +button('restore-password-request-forward-button', '', 'submit', 'primary', 'Далее')(class='restore-password-request-form__forward-button')
