.mobile-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 16px;
  align-items: center;
  background-color: #ebedec;
  position: fixed;
  left: 0;
  top: 0;
  gap: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  svg {
    width: 24px;
    height: 24px;
  }
  &__menu-icon {
    z-index: 3;
    transform: none;
    min-width: 24px;
    padding-top: 7px;
    cursor: pointer;
  }

  .logo-small {
    width: 24px;
  }
  &__menu-title h4 {

    font-size: 26px;
  }
  .header__contact-info {
    align-items: flex-end;
    padding: 16px 24px;
    a {
      font-size: 26px;
    }
  }

  &__menu-title {
    h4 {
      font-size: 20px;

    }
  }
  .mobile-header__menu {
    z-index: 2;
    background-color: $gray-28;
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    overflow: hidden;

    @media (max-width: 330px) {
      padding-right: 0px;
    }
    .header__main-menu-list {
      display: flex;
      flex-direction: column;
      padding: 50px 24px 21px;
      row-gap: 8px;
      align-items: flex-end;

      @media (max-width: $layout-breakpoint-tablet) {
        padding-top: 62px;
      }

      a {
        padding: 8px;
        font-size: 26px;
      }

      .header__main-menu-item-link_this-page {
        background-color: $white-1;
        color: #2E2E2E;
        padding: 8px;
        border-radius: 4px;
        &::after {
          display: none;
        }
      }
      .header__main-menu-item-link {
        font-weight: 500;
        line-height: 15px;
        padding: 23px;
        opacity: 1;
      }
    }

    .header__lk-buttons {
      flex-direction: column;
      row-gap: 12px;
      padding: 16px 24px;
      margin: initial;
      margin-top: auto;
      .button {
        width: 100%;
        text-align: center;
        justify-content: center;
      }
    }
  }
}
