.mobile-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  align-items: center;
  gap: 8px;
  svg {
    width: 24px;
    height: 24px;
  }
  &__menu-icon {
    z-index: 3;
    transform: none;
    min-width: 24px;
    padding-top: 7px;
    cursor: pointer;
  }

  .logo-small {
    width: 24px;
  }
  &__menu-title h4 {

    font-size: 26px;
  }
  .header__contact-info {
    align-items: flex-end;
    padding: 16px;

  }

  &__menu-title {
    h4 {
      font-size: 20px;

    }
  }
  .mobile-header__menu {
    z-index: 2;
    background-color: $gray-28;
    border-radius: 30px;
    display: none;
    flex-direction: column;
    width: 70%;
    position: absolute;
    right: -12px;
    top: -6px;

    .header__main-menu-list {
      display: flex;
      flex-direction: column;
      padding: 50px 16px 21px;
      row-gap: 8px;
      align-items: flex-end;
      a {
        padding: 8px;
      }
      .header__main-menu-item-link_this-page {
        background-color: $white-1;
        color: #2E2E2E;
        padding: 8px;
        border-radius: 4px;
        &::after {
          display: none;
        }
      }
      .header__main-menu-item-link {
        font-size: 12px;
        font-weight: 500;
        line-height: 15px;
        padding: 23px;
        opacity: 1;
      }
    }

    .header__lk-buttons {
      flex-direction: column;
      row-gap: 12px;
      margin: initial;
      padding: 16px;
      .button {
        width: 100%;
        text-align: center;
        justify-content: center;
      }
    }
  }
}
