form.recovery-password-form.full-screen-form(id='recovery-password-form', name='recovery-password-form', method='POST', action='/auth/?change_password=yes')
  .recovery-password-form__title.full-screen-form__title
    h4 Восстановление пароля

  .recovery-password-form__inner.full-screen-form__inner
    .recovery-password-form__controls.full-screen-form__controls
      include UIKit/form-control/form-control.pug
      +form-control('text', 'recovery-password-confirmation-code', 'Код из смс')(class='recovery-password-form__code-control', autocomplete='off')
      include UIKit/form-password/form-password.pug
      +form-control('password', 'recovery-password-password', 'Введите новый пароль')(class='recovery-password-form__new-password', autocomplete='new-password')
      +form-control('password', 'recovery-password-password-repeat', 'Eщё раз введите новый пароль')(class='recovery-password-form__new-password-repeat', autocomplete='new-password')
    .recovery-password-form__buttons.full-screen-form__buttons
      include UIKit/button/button.pug
      +button('recovery-password-step-back-button', 'javascript:history.back()', 'button', 'transparent', 'Назад')(class='recovery-password-form__step-back-button')
      +button('recovery-password-change-password-button', '', 'submit', 'primary', 'Изменить пароль')(class='recovery-password-form__forward-button')
