@import 'Styles/styles';
@import 'Components/common/user-account-header/user-account-header.scss';
@import 'Components/common/user-account-footer/user-account-footer.scss';

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: $light-gray;
}

.page__main {
  flex: 1 0 auto;

  .section {
    $left-right-paddings: 30px;

    padding: 20px 0;
    border-radius: $radius-bit-less;
    margin-bottom: 14px;
    background-color: $white-1;

    &:first-child {
      margin-top: 32px;
    }

    &:last-child {
      margin-bottom: 58px;
    }

    &__header {
      padding-bottom: 20px;
      border-bottom: 1px solid $gray-12;
    }

    &__item {
      padding-right: $left-right-paddings;
      padding-left: $left-right-paddings;
    }
  }
}

.full-screen-form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 44px;

  @media (max-width: $layout-breakpoint-small) {
    h4 {
      font-size: 18px;
      font-weight: 600;
      line-height: 22px;
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;

    & > h4 {
      text-align: center;
    }

    & > p {
      font-size: 18px;
      font-weight: 400;
      text-align: center;
      @media (max-width: $layout-breakpoint-small) {
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
      }
    }
  }


  &__inner {
    display: flex;
    width: 100%;
    max-width: 459px;
    flex-direction: column;
    row-gap: 32px;
  }

  &__controls {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    column-gap: 16px;
    @media (max-width: $layout-breakpoint-small) {
      flex-direction: column;
      row-gap: 8px;
      .button {
        width: 100%;
        text-align: center;
      }
    }
  }
  @media (max-width: $layout-breakpoint-small) {
    .button_transparent {
      background-color: $white-1
    }
  }
}
