.container
  .features
    h2.features-title Что делает нас особенными?
    .features-grid
      .feature-card.feature-card--experience
        .feature-content
          .feature-header
            img.feature-icon.feature-icon--experience(src=require('./special1.svg'))
            .feature-name Опыт
          p.feature-description.feature-description--experience
            | Наш многолетний опыт в сфере финансовых услуг позволяет нам понимать нужды клиентов и партнеров, создавая платформу, отвечающую современным требованиям рынка

      .feature-card.feature-card--reliability
        .feature-content
          .feature-header
            img.feature-icon.feature-icon--reliability(src=require('./special2.svg'))
            .feature-name Надежность
          p.feature-description.feature-description--reliability
            | Мы ценим доверие наших пользователей и тщательно подходим к проверке всех агентов и партнёров

      .feature-card.feature-card--innovation
        .feature-content
          .feature-header
            img.feature-icon.feature-icon--innovation(src=require('./speacial3.svg') )
            .feature-name.feature-name--innovation Инновации
          p.feature-description.feature-description--innovation
            | Creditex.Broker использует передовые технологии для автоматизации и упрощения процесса взаимодействия, помогая вам сосредоточиться на результатах
