.form-control {

  &__password-toggle-icon {
    display: flex;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    svg {
      overflow: hidden;
      width: 20px;
      height: 20px;

      path {
        fill-opacity: 1;
        fill: $gray-1;
      }
    }

    &_hidden {
      display: none;
    }
  }

  &__password-toggle {
    position: absolute;
    top: 18px;
    right: 26px;

    .form-control__password-toggle-invisible {
      display: none;
    }

    &_password {
      .form-control__password-toggle-visible {
        display: none;
      }

      .form-control__password-toggle-invisible {
        display: block;
      }
    }

    @media (hover: hover) {
      &:hover {
        .form-control__password-toggle-icon svg path {
          fill: $black-1;
        }
      }
    }
  }
}
