@import 'src/components/card-issued/card-issued.scss';

.card-issued-block {
  display: flex;
  column-gap: 16px;
  padding: 24px 16px;
  overflow-x: auto;
  background-color: $white-1;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
