@import 'UIKit/form-control/form-control.scss';
@import 'UIKit/form-password/form-password.scss';
@import 'UIKit/button/button.scss';

.new-password-block {
  &__form {
    display: flex;
    padding-top: 24px;
    flex-direction: column;
    align-items: center;
  }

  &__controls {
    display: flex;
    width: 100%;
    max-width: 683px;
    flex-direction: column;
    row-gap: 24px;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    column-gap: 8px;
  }

  &__message {
    max-width: 683px;
    padding-top: 24px;

    & > p {
      text-align: center;
    }

    &_success {
      color: $green-2;
    }

    &_error {
      color: $red-1;
    }
  }
}
