@import 'UIKit/form-control/form-control.scss';
@import 'UIKit/form-password/form-password.scss';
@import 'UIKit/button/button.scss';

.new-password-block {
  @media (max-width: $layout-breakpoint-small) {
    &__header h5 {
      font-size: 18px;
      font-weight: 600;
      line-height: 22px;
      text-align: center;
    }
  }
  @media (max-width: $layout-breakpoint-small) {
    .section__item {
      padding-right: 10px;
      padding-left: 10px;
    }
  }
  &__form {
    display: flex;
    padding-top: 24px;
    flex-direction: column;
    align-items: center;
  }

  &__controls {
    display: flex;
    width: 100%;
    max-width: 683px;
    flex-direction: column;
    row-gap: 24px;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    column-gap: 8px;
    @media (max-width: $layout-breakpoint-small) {
      flex-direction: column;
      row-gap: 8px;
      .button {
        width: 100%;
        text-align: center;
      }
      .button_transparent {
        background-color: $white-1
      }
    }
  }

  &__message {
    max-width: 683px;
    padding-top: 24px;

    & > p {
      text-align: center;
    }

    &_success {
      color: $green-2;
    }

    &_error {
      color: $red-1;
    }
  }
}
