section.section.new-password-block
  .section__header.section__item.new-password-block__header
    h5 Изменение пароля
  form.section__item.new-password-block__form(id='new-password-form', name='new-password-form', method='POST', action='', data-location-href='./personalData.html')
    .new-password-block__controls
      input(hidden, type='text', autocomplete='username', value='')
      include UIKit/form-password/form-password.pug
      +form-control('password', 'new-password-password', 'Новый пароль')(autocomplete='new-password')
      +form-control('password', 'new-password-password-repeat', 'Повторите новый пароль')(autocomplete='new-password')
      .new-password-block__buttons
        include UIKit/button/button.pug
        +button('new-password-back-button', 'javascript:history.back()', '', 'transparent', 'Назад')(class='button_wide new-password-block__back-button')
        +button('new-password-submit-button', '', 'submit', 'primary', 'Изменить')(class='button_wide new-password-block__submit-button')
    .section__item.new-password-block__message
      p.visually-hidden(
        id='new-password-message-text',
        data-success-message-text='Пароль успешно изменён. Сейчас вы будете перенаправлены на страницу вашего личного кабинета',
        data-error-message-text='Что-пошло не так. Обновите страницу или попробуйте еще раз')
