footer.footer
  .container
    p.footer__text Сайт не является банком или МФО, не выдает займов и кредитов. Информация, представленная на сайте оказывает помощь в выборе кредита. Предложение не является офертой. Конечные условия уточняйте при прямом общении с кредиторами
