footer.footer
  .container
    .footer-wrapper
      .navigation
        nav.header__main-menu
          ul.header__main-menu-list
            a.footer__logo(href='/')
              include ./footerLogo.svg
            include Components/common/header/_main-menu-item.pug
            +main-manu-item({
              text: 'Главная',
              href: './',
            }, 'header', '')(class = 'footer__main-menu-item-link')
            +main-manu-item({
              text: 'Предпринимателям',
              href: './entrepreneur.html'
            }, 'header', 'entrepreneur')(class = 'footer__main-menu-item-link')
            +main-manu-item({
              text: 'Агентам',
              href: './agents.html'
            }, 'header', 'agents')(class = 'footer__main-menu-item-link')
            +main-manu-item({
              text: 'Партнерам',
              href: './partners.html'
            }, 'header', 'partners')(class = 'footer__main-menu-item-link')
            +main-manu-item({
              text: 'О нас',
              href: './aboutUs.html'
            }, 'header', 'partners')(class = 'footer__main-menu-item-link')
      .contacts
        span.description Если у вас есть вопросы или вы хотите обсудить возможности сотрудничества, свяжитесь с нами:
        span.footer__address
          include ./email.svg
          a.footer__email(href='mailto:info@creditex.broker') info@creditex.broker
        span.footer__address
          include ./address.svg
          span 127106, г. Москва, пр-д Гостиничный, д. 8 к. 1, помещ. 761
        span.footer__address
          include ./phone.svg
          a.footer__phone(href='tel:+74951915016') 8 (495) 19-15-016
    .footer__legal-info
      p ООО "Кредитекс Брокер", ИНН 9715503376
    .footer__links
      a.footer__link(href='/', target='_blank') Политика обработки персональных данных
      a.footer__link(href='', target='_blank') Согласие на обработку персональных данных
      a.footer__link(href='', target='_blank') Согласие на рекламные рассылки
      a.footer__link(href='', target='_blank') Политика Cookies
    p.footer__text Дисклеймер: Creditex.broker не является оператором финансовой платформы в соответствии с Федеральным законом № 211-ФЗ. Мы предоставляем услуги агентского характера, заключающиеся в привлечении и проверке клиентов для финансовых организаций. Мы не участвуем в заключении финансовых сделок, не предоставляем услуги по обработке платежей и не выполняем функций финансового посредника. Вся информация обрабатывается в соответствии с Федеральным законом № 152-ФЗ “О персональных данных”. Используя наш сервис, вы соглашаетесь с Политикой конфиденциальности и условиями предоставления услуг.
