.footer {
  margin-top: 100px;
  background-color: #F5F5F5;
  padding: 36px 0 15px;
  color: #525252;
  @media (max-width: $layout-breakpoint-mobile) {
    margin-top: 40px;
  }

  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 35px;

  }
  .header__main-menu-list {
    gap: 18px;
    align-items: center;

    @media (max-width: $layout-breakpoint-tablet) {
      flex-direction: column;
      align-items: flex-start;
    }
    a {
      font-size: 16px;
      color: #292929;
    }
    .footer__logo {
      margin-right: 48px;
      min-width: 200px;
    }
  }

  .contacts {
    display: flex;
    flex-direction: column;
    max-width: 420px;
    gap: 20px;

    .footer__address {
      font-size: 16px;
      display: flex;
      align-items: center;
      gap: 8px;
      color: $black-1;

      svg {
        min-width: 24px;
        max-height: 24px;
      }
    }
  }
  &__text {

    font-size: 14px;
    line-height: 130%;
    border-radius: 16px;
    color: $black-1;
    font-weight: 400;
    margin-top: 48px;
    @media (max-width: $layout-breakpoint-small) {
      font-size: 13px;
    }
  }
}
