@mixin transparent-button {
  border: none;
  background-color: transparent;
  color: $black-1;
}

@mixin filter {
  padding: 0;
  border: none;
  border-radius: unset;
  background-color: transparent;
  min-height: unset;
}

@mixin sort {
  @include filter;
  display: flex;
  align-items: center;
  column-gap: 4px;
  font-weight: 400;
}

.button {
  width: fit-content;
  height: fit-content;
  min-height: 50px;
  padding: 16px 24px;
  outline: none;
  border: 1px solid $black-2;
  border-radius: $radius-small;
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;

  &_wide {
    padding-right: 45px;
    padding-left: 45px;
  }

  &_primary {
    background-color: $black-2;
    color: $white-1;

    &:disabled {
      border-color: $gray-12;
      background-color: $gray-12;
    }
  }

  &_secondary {
    border-color: $black-1;
    background-color: transparent;
    color: $black-1;

    &:disabled {
      border-color: $gray-12;
      color: $gray-12;
    }
  }

  &_tertiary {
    min-height: unset;
    padding-top: 7px;
    padding-bottom: 7px;
    border-color: $gray-25;
    background-color: $white-1;
    color: $gray-24;
  }

  &_transparent {
    @include transparent-button;

    &:disabled {
      color: $gray-12;
    }
  }

  &_link {
    display: flex;
    min-height: unset;
    padding: 0;
    align-items: center;
    column-gap: 4px;
    @include transparent-button;
  }

  &_filter {
    @include filter;
    font-weight: 300;
    text-decoration-line: underline;
    color: $blue-1;
  }

  &_filter-selected {
    @include filter;
    font-weight: 300;
    color: $black-1;
  }

  &_sort {
    @include sort;
  }

  &_sort-reverse {
    svg {
      transform: rotate(180deg);
    }
  }
}
